.back__button {
  border: none;
  font-size: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px black;
  padding: 5px;
  width: 100%;
  display: inline-block;

  /* Need to add this margin to the larger screen width */
  /* margin-top: 90px; */
}

.back__button__arrow {
  width: 20px;
  height: auto;
}

.back__button__a-tag {
  width: 6%;
  height: 10%;
  margin: 5% 0;
  margin-left: 5%;
}

@media (min-width: 900px) {
  .back__button {
    padding: 5px 0;
    width: 100%;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .back__button::after {
    content: "Back"; /* Insert content that looks like 
    bullets */
    margin-left: 10px;
    border: none;
  }
}
